.transaction-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  min-height: 100vh;
  padding: 0 10px; /* helps on mobile */
  
  
  
}

.create-transaction-container{
    background-color: rgba(8, 75, 75, 0.591);
    padding: 10px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.1em; /* slightly smaller = better on mobile */
    font-weight: bold;
    /* responsive width */
    
    
    display: grid;
    grid-template-rows: auto 2fr;
    row-gap: 10px;
}

.create-transaction-form{
  grid-row: 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  text-align: left;
  margin-bottom: 8px;
  
}

.currency-field{
  grid-column: 3;
  grid-row: 1;
}

.date-field{
  grid-column: 3;
  grid-row: 2;
}

.create-transaction-btn{
  grid-row: 4;
  grid-column: 2;
}

.create-transaction-form div label{
  margin: 10px;
}

.text-area{
  resize: none;
}

/* RESPONSIBILITY */

@media(max-width: 900px){
  .create-transaction-form{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr auto;
  }

  .currency-field{
  grid-column: 2;
  grid-row: 2;
}

.date-field{
  grid-column: 2;
  grid-row: 3;
}

.create-transaction-btn{
  grid-row: 5;
  grid-column: 1;
}
}

@media(max-width: 550px){
  .create-transaction-form{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
  }

  .currency-field{
  grid-column: 1;
  grid-row: 4;
}

.date-field{
  grid-column: 1;
  grid-row: 6;
}

.create-transaction-btn{
  grid-row: 8;
  grid-column: 1;
}
}